<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



</style>
</head>

<body>

  {% include "exam/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Please fillup the form in order to contact us</h3>

    <form method="POST" autocomplete="off">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <input type="submit" value="Submit" class='btn btn-primary' style="border-radius: 0%;">
      </div>
    </form>
  </center>
  <br>
  <br>
  <br>
  {% include "exam/footer.html" %}
</body>

</html>
